Repository Kuber-2024-02OTUS/sshwed_repo, changes with the labels that .github/labeler.yml gives for each.
All labels: kubernetes-intro, kubernetes-controllers, kubernetes-security, kubernetes-debug, kubernetes-gitops, kubernetes-logging, kubernetes-monitoring, kubernetes-networks, kubernetes-operators, kubernetes-production-clusters, kubernetes-storage, kubernetes-templating, kubernetes-vault, kubernetes-volumes, Review Required

.github/labeler.yml:

kubernetes-intro:
  - kubernetes-intro/*

kubernetes-controllers:
  - kubernetes-controllers/*
  
kubernetes-security:
  - kubernetes-security/*
  
kubernetes-debug:
  - kubernetes-debug/*
  
kubernetes-gitops:
  - kubernetes-gitops/*

kubernetes-logging:
  - kubernetes-logging/*
  
kubernetes-monitoring:
  - kubernetes-monitoring/*
  
kubernetes-networks:
  - kubernetes-networks/*
  
kubernetes-operators:
  - kubernetes-operators/*
  
kubernetes-production-clusters:
  - kubernetes-production-clusters/*
  
kubernetes-storage:
  - kubernetes-storage/*
  
kubernetes-templating:
  - kubernetes-templating/*
  
kubernetes-vault:
  - kubernetes-vault/*
  
kubernetes-volumes:
  - kubernetes-volumes/*
  
Review Required:
  - kubernetes-templating/*
  - kubernetes-production-clusters/*
  - kubernetes-monitoring/*
  - kubernetes-logging/*
  - kubernetes-debug/*

create namespace.yaml and pod.yaml
  kubernetes-intro/namespace.yaml
  kubernetes-intro/pod.yaml
Labels: kubernetes-intro

create deployment.yaml and namespace.yaml
  kubernetes-controllers/deployment.yaml
  kubernetes-controllers/namespace.yaml
Labels: kubernetes-controllers

Create Kubernetes deployment, Ingress, namespace, and service for homework application
  kubernetes-networks/deployment.yaml
  kubernetes-networks/ingress-rewrite.yaml
  kubernetes-networks/ingress.yaml
  kubernetes-networks/namespace.yaml
  kubernetes-networks/service.yaml
Labels: kubernetes-networks

Create cm.yaml, pvc.yaml, storageClass.yaml
  kubernetes-volumes/cm.yaml
  kubernetes-volumes/deployment.yaml
  kubernetes-volumes/ingress-rewrite.yaml
  kubernetes-volumes/ingress.yaml
  kubernetes-volumes/namespace.yaml
  kubernetes-volumes/pvc.yaml
  kubernetes-volumes/service.yaml
  kubernetes-volumes/storageClass.yaml
Labels: kubernetes-volumes

Applied K8s config changes, created SA token, set up kubectl, updated roles, SA & deployments
  README.md
  kubernetes-security/clusterrole-metrics.yaml
  kubernetes-security/deployment.yaml
  kubernetes-security/kubeconfig
  kubernetes-security/namespace.yaml
  kubernetes-security/rb-cd.yaml
  kubernetes-security/rb-monitoring.yaml
  kubernetes-security/sa-cd.yaml
  kubernetes-security/sa-monitoring.yaml
  kubernetes-security/service.yaml
  kubernetes-security/token
Labels: kubernetes-security
